#container{
width:646px;
background-color: grey;
}
#oben{
text-align:center;
width:846px;
height:100px;

}
#oben2{
text-align:center;
}

#stern1{
width:50px;
height:50px;
float:left;
}

#stern2{
width:50px;
height:50px;
float:left;
}

#stern3{
width:50px;
height:50px;
float:left;
}



.active_star{
color:red;

}



#prev{
background-color:red;
float:left;
border:1px solid grey;
width:100px;
height:516px;
}
#prev:hover{
background-color:#FF3300;}

#gallery{
border:1px solid grey;
width:400px;
height:100px;
float:left;

}
#gallery li{
list-style:none;
}

#gallery li img{

width:400px;


}

#gallery li.active img{


}

#next{
background-color:green;
border:1px solid grey;
width:100px;
height:516px;
float:left;
}
#next:hover{
background-color:#66CC00;
}

.clear-fix{
clear:both;
}
