.bild{
float:left;
}

#gallery{
height:100%;
width:99999px;
position:absolute;

}
#gallery li{

list-style:none;
padding-right:90px;
margin-left:px;
margin-right:0px;
float:left;
}

.clear-fix{
clear:both;
}
#gallery li img{
height:100%;

}#gallery li.active{
border: 2px;

}
#rahmen{
position:relative;
height:100%;
width:100%;
overflow:hidden;
}

#bild1{
}
#bild2{
}
#bild3{
}
#bild4{
}
#bild5{
}

