
div#rahmen ul#gallery li.bild{
float:left;
}

div#rahmen{
position:relative;
height:400px;
width:100%;
overflow:hidden;
float:left;
}
div#rahmen ul#gallery{
height:400px;
width:99999px;
position:absolute;
float:left;
}
div#rahmen ul#gallery li{

list-style:none;
padding-right:90px;
margin-left:px;
margin-right:0px;
float:left;
}


div#rahmen ul#gallery li.bild img{
height:400px;
width: 300px;
float:left;
}